.git
.cache
.env
shelf
tests
venv
openvino_env
docker
.github
app/assets
.editorconfig
.gitattributes
.gitignore
*.log
*.pot
*.pyc
**/*.pyc
__pycache__
**/__pycache__
.pytest_cache
.idea
/gfpgan/
venv-win
venv
