name: Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build-image:
    name: Build Docker Image
    runs-on: [ self-hosted ]
    steps:
      - uses: actions/checkout@v3
      - name: Build Image
        run: |
          docker run --privileged=true -it --rm --entrypoint "" -v $(pwd):/export amperecomputingai/onnxruntime:1.8.0 /bin/bash -c '\
            tar cfzv /export/onnxruntime.tar.gz \
            /usr/local/lib/python3.10/dist-packages/onnxruntime-1.14.1+aio9c3c0.dist-info/ \
            /usr/local/lib/python3.10/dist-packages/onnxruntime/'
          
          docker build -f docker/Dockerfile-aarch64-ampere . -tatfal-ai
          
          rm -fr onnxruntime.tar.gz

  restart-services:
     name: Restart Services
     needs: build-image
     runs-on: [self-hosted]
     steps:
     - name: Code Deploy / Restart
       run: |
         sudo /usr/local/bin/code_deploy.sh
